---
interface Props {
    src: string;
    desktopSrc?: string;
    alt: string;
    class?: string;
}

const { src, desktopSrc, alt, class: className } = Astro.props;
const baseStyle = "";
---

<div class:list={[baseStyle, className]}>
    {
        desktopSrc ? (
            <picture>
                <source media="(min-width: 768px)" srcset={desktopSrc} />
                <img src={src} alt={alt} class="w-full h-full object-cover" />
            </picture>
        ) : (
            <img src={src} alt={alt} />
        )
    }
</div>
