---
interface Props {
    title: string;
    description: string;
    link: string;
    class?: string;
    classSpan?: string;
    ariaLabel?: string;
}

const {
    title,
    description,
    link,
    class: className,
    classSpan,
    ariaLabel,
} = Astro.props;

const baseStyleDiv =
    "flex flex-col gap-8 justify-center items-center md:items-start mx-6 my-12 md:mx-0 md:px-16 lg:px-28";
const baseStyleH2 =
    "font-fraunces text-4xl font-[900] text-center md:text-left";
const baseStyleP = "font-barlow text-lg text-center text-grey-600 md:text-left";
const baseStyleA =
    "font-fraunces text-xl uppercase  font-[700] text-center md:text-left";
const baseStyleSpan =
    "relative z-10 after:absolute after:bottom-1 after:left-0 after:-z-10 after:h-1.5 after:w-full after:rounded-full after:bg-red-400/60 hover:after:bg-red-400 transition-all duration-300 ease-in-out";
---

<div class:list={[baseStyleDiv, className]}>
    <h2 class={baseStyleH2}>{title}</h2>
    <p class={baseStyleP}>{description}</p>
    <span class:list={[baseStyleSpan, classSpan]}>
        <a href="#" class={baseStyleA} aria-label={ariaLabel}>{link}</a>
    </span>
</div>
